@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

:root {
  --border-radius: 100px;
  --container-background-color: #F0EFEF;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Share Tech', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

