.main {
  height: 100vh;
  width: 100vw;
  background-color: #FEFAE0;
  margin: 0rem;
  overflow: hidden;
}

.navBar {
  background-color: #FEFAE0;
  height: 45px;
  position: fixed;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: left top 0;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

.navBar > ul {
  height: 100vh;
  margin: 0 auto;
}

.navBar li {
  float: right;
  height: 100%;
  line-height: 60px;
  margin: 0 20px;
  list-style-type: None;
}

.navBarList {
  color: #14213D;
  font-size: 1.2rem;
}

.chankoLogo {
  display: block;
}


