.main {
  height: 100vh;
  width: 100vw;
  background-color: #f1faee;
  margin: 0rem;
  overflow: hidden;
}

.navBar {
  background-color: #f1faee;
  height: 45px;
  position: fixed;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: left top 0;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  padding-right: 6rem;
}

.navBar > ul {
  height: 100vh;
  margin: 0 auto;
}

.navBar li {
  float: right;
  height: 100%;
  line-height: 60px;
  margin: 0 20px;
  list-style-type: None;
  padding-top: 20px;
}

.navBarList {
  color: var(--nav-text-color);
  font-size: 1.09rem;
  font-family: var(--japanese-font-fam);
  font-weight: bold;
}

.intro {
  padding-left: 10rem;
  padding-top: 20rem;
}

.name {
  font-size: 30px;
  text-transform: uppercase;
  font-family: var(--japanese-font-fam);
}

.roles {
  font-size: 80px;
  text-transform: uppercase;
  font-family: var(--japanese-font-fam);
  color: var(--main-text-color);
}

.project {
  height: 100vh;

}